body{
	background-color: #071334;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f4f5fa;
 border-bottom: #009eff 4px solid;
    padding: 18px 6px 18px 24px;
    padding: 1.125rem .375rem 1.125rem 1.5rem;
     border-bottom: #009eff 4px solid;
    padding: 18px 6px 18px 24px;
    padding: 1.125rem .375rem 1.125rem 1.5rem;
}

.logo{
	margin-left: 33%;
	width: 200px;
	height: 50px;
}

.logonet {
	width: 120px;
	height: 60px;
}

li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.benvingut{
	float: left;
}
p{
	font-size: 30px;
	color: white;
}
.benvingut p img{
	width: 30px; 
	height: 30px;
}
.modul{
	float: right;
}
.button1{
	width: 250px; 
	height: 250px; 
	background-color: #FFAE4F;

}
.button2{
	width: 250px; 
	height: 250px; 
	background-color: #FFA43A;
	
}

.botones p{
	text-decoration: none;
	font-size: 20px;
	color: white;
}

